.filter{
    margin-bottom: 20px;

    .filter__container{
        border-left: 3px solid color(blue);
        padding: 5px;
        box-sizing: border-box;

        p{
            margin: 0 10px 0 0;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}