.restaurant{
    margin-top: 10px;

    @include respond-above(sm){
        flex: 1;
    }

    .restaurant__container{
        padding: 5px;
        box-sizing: border-box;
        border-left: 3px solid color(blue);
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .restaurant__info{
        h2{
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 5px;
        }
    }

    .restaurant__photo{
        .restaurant__photo__placeholder{
            background-color: lightgray;
            width: 100px;
            height: 100px;
            background-position: center;
            background-size: cover;
        }
    }
}